---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <section class="flex flex-col gap-8">
    <h1 class="text-3xl font-bold mb-2">Publications</h1>
    <ul class="flex flex-col gap-6">
      <li>
        <div class="font-semibold text-lg">Rethinking the Welfare State <span class="font-normal">(with Nezih Guner and Gustavo Ventura)</span></div>
        <div class="text-gray-500 dark:text-gray-400">Econometrica, August 2023</div>
      </li>
      <li>
        <div class="font-semibold text-lg">Child-Related Transfers, Household Labor Supply and Welfare <span class="font-normal">(with Nezih Guner and Gustavo Ventura)</span></div>
        <div class="text-gray-500 dark:text-gray-400">The Review of Economic Studies, 2020</div>
      </li>
      <li>
        <div class="font-semibold text-lg">Social Security and Two-Earner Households</div>
        <div class="text-gray-500 dark:text-gray-400">Journal of Economic Dynamics and Control, 2015</div>
      </li>
      <li>
        <div class="font-semibold text-lg">Income Taxation of U.S. Households: Facts and Parametric Estimates <span class="font-normal">(with Nezih Guner and Gustavo Ventura)</span></div>
        <div class="text-gray-500 dark:text-gray-400">Review of Economic Dynamics, 2014 <span class="italic">(lead article)</span></div>
      </li>
      <li>
        <div class="font-semibold text-lg">Taxation and Household Labor Supply <span class="font-normal">(with Nezih Guner and Gustavo Ventura)</span></div>
        <div class="text-gray-500 dark:text-gray-400">The Review of Economic Studies, 2012</div>
      </li>
      <li>
        <div class="font-semibold text-lg">Taxing Women: A Macroeconomic Analysis <span class="font-normal">(with Nezih Guner and Gustavo Ventura)</span></div>
        <div class="text-gray-500 dark:text-gray-400">Journal of Monetary Economics, 2012</div>
      </li>
      <li>
        <div class="font-semibold text-lg">Taxes and Female Labor Supply</div>
        <div class="text-gray-500 dark:text-gray-400">Review of Economic Dynamics, 2010 <span class="italic">(lead article)</span></div>
      </li>
    </ul>
  </section>
</Layout> 