---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <section class="flex flex-col gap-8">
    <h1 class="text-3xl font-bold mb-2">Works in Progress</h1>
    <ul class="flex flex-col gap-4">
      <li class="bg-gray-50 dark:bg-gray-900 rounded p-4 shadow-sm">
        Child-Related Transfers and Earnings Inequality: A Cross Country Analysis.
      </li>
      <li class="bg-gray-50 dark:bg-gray-900 rounded p-4 shadow-sm">
        Progressivity of Income Taxation, Redistribution and Households.
      </li>
      <li class="bg-gray-50 dark:bg-gray-900 rounded p-4 shadow-sm">
        Optimal Progressivity of Taxation with Immigrant Workers.
      </li>
    </ul>
  </section>
</Layout> 