---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <section class="flex flex-col gap-8">
    <h1 class="text-3xl font-bold mb-2">Working Papers</h1>
    <ul class="flex flex-col gap-6">
      <li>
        <div class="font-semibold text-lg">A Different World: Drivers of Income Inequality 1980-2020 <span class='font-normal'>(with Nezih Guner and Gustavo Ventura)</span></div>
      </li>
    </ul>
  </section>
</Layout> 